@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
  padding: 1em;
  color: #ffffcb;
  padding-top: 0em;
  background-repeat:repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  font-family: "DM Serif Display";
  background-color: rgba(40,40,40,1);
  background-position: center center;
  background-image: url("/assets/grain-bg.png");
}

body {
  text-align: center;
}

* {
  transition: 0.15s;
  font-family: "DM Serif Display";
}

h1, h2, h3, h4 { user-select: none; }

.searchbar {
  margin-bottom: 1em;
  .button, .placeholderBtn {
    border: none;
    font-size: 2ch;
    padding: 0.5ch 1ch;
    border-radius: 1ch;
    background-color: #ffffcbcc;
  }
  .placeholderBtn {
    display: none;
  }
  .bar {
    height: 4ch;
    font-size: 2ch;
    margin-right: 2ch;
    background-color: #cccccc55;
    color: white;
  }
  .searchBox input {
    margin: auto;
    display: block
  }
}

input[type="text"], input[type="search"] {
  border: none;
  outline: none;
  padding: 0 1ch;
  border-radius: 1ch;
}

#stuff {
  .right {
    padding: 0; 
    right: 2.5em;
    display: block;
    margin-top: 1em;
    margin-right: 2em;
    position: absolute;
    width: calc(50vw - 5em);
  }
  .left {
    padding: 0;
    left: 2.5em;
    margin: 1em 0;
    display: block;
    position: absolute;
    width: calc(50vw - 5em);
  }
  .resp {
    margin-top: 0.25em;
  }
  mono {
    color: white;
    padding: 0 0.75ch;
    border-radius: 0.5ch;
    background: #cccccc55;
  }
  div > .itm {
    width: 100%;
    margin: 1em 0;
    border-radius: 1em;
    background-color: #00000055;
    &> .ptName {
      font-size: 4vw;
      margin: 0;
      padding: 0.75em 0;
    }
    &[open="true"] > .pt {
      padding: 1em 0;
      padding: 0.1em 1em;
      width: calc(100% - 2em);
      &> div  {
        margin-bottom: 2em;
      }
    }
    &[open="false"] > .pt{
      opacity: 0;
      height: 0px;
    }
    &> .pt {
      overflow: hidden;
      border-radius: 1em;
      input, button {
        padding: 0;
        margin-bottom: 1em;
        max-width: calc(100% - 0.5ch);
      }
      label {
        display: flex;
      }
      label[for="length"]{
        display: inline;
      }
      input[type="range"] {
        height: 15px;
        outline: none;
        appearance: none;
        background: grey;
        border-radius: 5px;
        accent-color: #ffffa9;
        transition: opacity .2s;
        width: calc(100% - 10em);
        &::-moz-range-thumb, &::-webkit-slider-thumb {
          border: none;
          outline: none;
          background: #ffffa9;
        }
      }
      input[type="text"] {
        padding: 0 1ch;
        max-width: calc(100% - 1.5ch);
      }
      pre code {
        color: black;
        padding: 0.5em;
        display: block;
        text-wrap: wrap;
        font-size: 1.1em;
        font-weight: bold;
        margin-top: -0.75em;
        height: fit-content;
        border-radius: 0.35em;
        width: calc(100% - 1em);
        background-color:#ffffcb;
      }
    }
  }
  * { width: 100%; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 787px) {
  :root {
    margin: 0;
    padding: 0;
    font-size: 2vw;
  }
  body {
    margin: 0;
    padding: 0;
  }
  h1 {
    margin-top: 4vh;
    font-size: 8vw;
  }
  .searchbar {
    font-size: 2vw;
    .bar, .button, .placeholderBtn {
      font-size: 4vw;
    }
    .button, .placeholderBtn {
      display: unset;
      width: calc(45% - 1.25em);
      margin-top: 0.75em;
    }
    .button { margin-right: 0.5em }
    .bar {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
  }
  #stuff {
    padding: 0;
    margin: 0;
    margin-top: 5vh;
    .left, .right {
      left: 0;
      width: 90%;
      max-width: 90%;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
    .left {
      margin-bottom: -2em;
    }
  }
}
