:root, body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
}

* {
  font-size: 1.05em;
  transition: 0.15s;
  font-family: var(--primary-font);
}

body {
  background-color: var(--bg);
}

input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
  font-family: var(--title-font);
}

input, button, .button, #itm {
  -webkit-tap-highlight-color: transparent;
}

.topbar {
  cursor: default;
  user-select: none;
  background-color: var(--topbar-bg);
  color: white;
  padding: 0.1em;
  border-radius: 0 0 0.75em 0.75em;
  input {
    &[type="submit"], &[type="button"] {
      border: none;
      margin-bottom: 0.1em;
      border-radius: 1ch;
      padding: 0.1ch 1ch 0.1ch 1ch;
      background-color: var(--primary);
      margin-top: 0.2ch;
      &:hover {
        font-weight: bold;
        max-height: 2.7ch;
        padding: 0.5ch 1ch;
        margin: 0;
      }
    }
    &[type="search"] {
      user-select: text;
      background-color: var(--tertiary);
      color: var(--sTcolor);
      border: none;
      outline: none;
      padding: 0.25ch 1ch 0ch 1ch;
      border-radius: 1ch;
      margin-right: 0.5em;
      &:hover { 
        font-weight: bold;
        margin-bottom: 0.1ch;
        padding: 0.5ch 1ch 0.25ch 1ch;
      }
    }
  }
  .searchbar {
    display: inline;
  }
  .searchbarTitle {
    cursor: pointer;
    font-style: italic;
    font-family: var(--title-font);
    font-weight: bold;
    color: var(--primary);
    margin: 0 1em; 
  }
}

#sidebar {
  position: absolute;
  left: 0;
  width: 15vw;
  background-color: var(--sidebar-bg);
  color: white;
  height: 100vh;
  box-sizing: border-box;
  top: 0;
  z-index: -1;
  border-radius: 0 0em 1em 0;
  padding-top: calc(1.2em + 2ch);
  &>#itm {
    cursor: pointer;
    user-select: none;
    background-color: var(--secondary);
    padding: 0.1em;
    border-radius: 0.5ch;
    margin: 0 1ch 1ch 1ch;
    text-align: right;
    padding-right: 1ch;
    padding-top: 0.4ch;
    max-height: 1.8ch;
    &:hover {
      background-color: var(--primary);
      color: var(--bg);
      margin: -0.15ch 0.5ch 0.85ch 0.5ch;
      font-size: 1.1em;
      font-weight: bold;
    }
  }
}

#endPtPane {
  width: 85vw;
  right: 0;
  position: absolute;
  background-color: var(--bg);
  color: white;
  padding: 1.75em 1em 0 1em;
  z-index: -1;
  top: 0;
  height: 100vh;
  box-sizing: border-box;
  .ptName {
    font-size: 2em;
    margin: 0.4em auto 0.25em auto;
  }
  input[type="text"] {
    user-select: text;
    background-color: var(--secondary);
    color: var(--sTcolor);
    border: none;
    outline: none;
    padding: 0.25ch 1ch 0ch 1ch;
    border-radius: 1ch;
    margin-right: 0.5em;
    &:hover { 
      background-color: var(--sTcolor);
      color: var(--pTcolor);
      font-weight: bold;
      margin-bottom: 0.1ch;
      padding: 0.5ch 1ch 0.25ch 1ch;
    }
  }
  button {
    border: none;
    outline: none;
    background-color: var(--primary);
    color: var(--pTcolor);
    border-radius: 1ch;
    padding: 0.1ch 0.75ch 0.2ch 0.75ch;
    &:hover {
      background-color: var(--sTcolor);
      padding: 0.3ch 0.75ch 0.35ch 0.75ch;
    }
    &.large {
      margin-top: 0.1em;
      font-size: 5em;
      width: 100%;
      &:hover {
        padding: 0.15ch 0.75ch 0.35ch 0.75ch;
        margin-top: 0.07em;
      }
    }
  }
  .pt {
    &>.right, &>.left{
      position: fixed;
      width: calc(50% - (15vw / 2));
      max-width: 50%;
      box-sizing: border-box;
      padding: 1em;
      .title {
        font-size: 2em;
        text-align: center;
      }
    }
    &>.right {
      right: 0;
    }
    &>.left {
      left: 15vw;
    }
  }
  mono, div {
    &#resp, &#res {
      display: block;
      background-color: var(--tertiary);
      color: var(--primary);
      padding: 0.35em 0.5em;
      border-radius: 1ch;
    }
  }
}
